/.Rproj.user/*
*.Rhistory
*.Rproj
*.DS_Store
*.eps
.Rproj.user
.Rprofile
RLumCarlo.Debug/
RLumCarlo.Experiment/
packrat/
RLumCarlo.Rcheck/
#RLumCarlo.BuildResults/*.tar.gz
RLumCarlo.BuildResults/*.zip
#RLumCarlo.BuildResults/*.tgz
packrat/lib*/
packrat/src/
src/*.o
src/*.dll
*.RData
